* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: lightgrey;
}


/*外层大框*/

.container {
    width: 352px;
    height: 550px;
    margin: 30px auto;
    background-color: #ddd;
}


/*主内容区样式*/

.content {
    position: relative;
    left: 5px;
}

.content img {
    width: 168px;
    height: 112px;
}

.footer {
    position: absolute;
    float: left;
}
